sudo: false

services: docker

language: cpp

stages:
 - build & test
 - deploy

jobs:
  include:
  - stage: build & test
    script: 
      - docker-compose build 
      - docker run --entrypoint "/bin/bash" selfaware-monopoly-server /usr/src/app/server/ci_test.sh 

  - stage: deploy
    script: echo " ... deploy ... "

branches:
  only:
    - master
