language: cpp

sudo: required
dist: trusty

install:
- if [ "$CXX" = "g++" ]; then export CXX="g++-5" CC="gcc-5"; fi
- if [ $TRAVIS_OS_NAME = linux ]; then
       source /opt/qt510/bin/qt510-env.sh
    ;
  else
       QTDIR="/usr/local/opt/qt5"
    && PATH="$QTDIR/bin:$PATH"
    && LDFLAGS=-L$QTDIR/lib
    && CPPFLAGS=-I$QTDIR/include
    ;
  fi
- echo ${PATH}
- ${CXX} --version

addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    - llvm-toolchain-precise-3.9
    - george-edison55-precise-backports
    - sourceline: 'ppa:beineri/opt-qt-5.10.1-trusty'
    packages:
    - cmake
    - cmake-data
    - gcc-5
    - g++-5
    - clang-3.9
    - cppcheck
    - qt510-meta-minimal
    - qt510websockets

os:
  - linux
  
compiler:
  - gcc
  - clang

env:
  matrix:
    - CMAKE_CONFIGURATION=release BUILD_DIR=build_release
    - CMAKE_CONFIGURATION=debug BUILD_DIR=build_debug

script:
  - cd server
  - mkdir build
  - cd build
  - cmake .. && make
  - cmake --build . --target run-tests

notifications:
  email: false

branches:
  only:
    - master
