sudo: false

services: docker

jobs:
 - build 
 - test
 - name: deploy
    if: branch = master

jobs:
  include:
  - stage: build
    script: docker-compose build

  - stage: test
    script: 
      - ./Server/test
      - ./client/test
  - stage: deploy
    script: echo "... deploy ..."

branches:
  only:
    - master
